<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.ttms.product.dao.ProjectDao">
	<select id="findObjects" 
			resultType="project">
		select *
		from tms_projects
	</select>

	<sql id="whereQuery">
		<where>
			<if test="name!=null and name!=''">
				name like concat("%",#{name},"%")
			</if>
			<if test="valid!=null">
				and valid=#{valid}
			</if>
		</where>
	</sql>
	
	<select id="findPageObjects"
		resultType="project">
		select *
		from tms_projects
		<include refid="whereQuery" />
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>
	
	<select id="getRowCount" resultType="int">
		select count(*)
		from tms_projects
		<include refid="whereQuery" />
	</select>
	
	<update id="validById">
		update tms_projects
		set valid=#{valid}
		where id in
		<foreach collection="ids"
				open="(" 
				close=")" 
				item="item" 
				separator=",">
				#{item}
		</foreach>
	</update>
	
	<insert id="insertObject" parameterType="project">
		insert INTO tms_projects
		(code,
		name,
		beginDate,
		endDate,
		valid,
		note,
		createdTime,
		modifiedTime,
		createdUser,
		modifiedUser)
		VALUES(
		#{code},
		#{name},
		#{beginDate},
		#{endDate},
		#{valid},
		#{note},
		now(),
		now(),
		#{createdUser},
		#{modifiedUser}
		)

	</insert>
	
	<update id="updateObject" parameterType="project">
		update tms_projects
		set code=#{code},
		name=#{name},
		beginDate=#{beginDate},
		endDate=#{endDate},
		valid=#{valid},
		note=#{note},
		modifiedTime=now(),
		modifiedUser=#{modifiedUser}
		where id=#{id}
	</update>
	
	<select id="findObjectById" parameterType="integer" resultType="project">
		select *
		from tms_projects
		where id=#{id}
	</select>
	
	<select id="findPrjIdAndNames" resultType="map">
		select id,name
		from tms_projects
	</select>
</mapper>